@font-face {
  font-family: 'Kaspersky Sans';
  src: local('Kaspersky Sans Regular'), local('Kaspersky Sans Regular'),
    url('../fonts/Kaspersky Sans Regular.woff2') format('woff2'),
    url('../fonts/Kaspersky Sans Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  font-family: 'Kaspersky Sans';
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
  margin: 0 auto;
}

.container{
  max-width: 1408px;
  margin: 0 auto;

  @include _1440 {
    max-width: 1024px;
  }
}

.title{
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 54.4027px;
  line-height: 93px;
  color: #C2D6D6;
  transform: rotate(-90deg);
}












