.partners {
  padding: 140px 0;

  @include _991 {
    padding: 60px 0;
  }

  @include _768 {
    padding: 40px 0;
  }

  &__container {
    overflow: hidden;
    max-width: 675px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 400;
    display: inline;
    font-size: 52px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    letter-spacing: -0.03em;
    font-feature-settings: 'liga' off;
    color: #1D1D1B;
    margin-bottom: 25px;

    @include _768 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;
    color: #444444;
    text-align: center;
    margin-bottom: 40px;

    @include _768 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__slider {
    position: relative;
  }

  &__swiper {
  }

  &__swiper-wrapper {
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 490px;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 30px;

    @include _768 {
      width: 70px;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
    text-decoration-line: underline;
    color: #666666;
    margin-bottom: 19px;

    @include _768 {
      font-size: 14px;
      padding: 0 30px;
    }
  }

  &__button {
  }

  &__swiper-next {
    right: 0;

    &:after {
      color: #000000;
    }
  }

  &__swiper-prev {
    left: 0;

    &:after {
      color: #000000;
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.btn-green {
}
.swiper-button-next {
}
.swiper-button-prev {
}


