

.swiper-pagination-bullet {
  width: auto;
  background: transparent;

  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 0 14px;
  min-width: 113px;
  z-index: 2;
  opacity: 1;

  span{
    position: relative;

    &::before{
      content: '' ; 
      z-index: 1;
      display: inline-block;
      width: 0px;
      height: 3px;
      background: transparent;
      transition: 0.3s;
      position: absolute;
      left: 0;
      top: -10px;
    }
  }
}

.swiper-pagination-bullet-active{
  position: relative;
  &:after{
    content: '' ; 
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 310px;
    position: absolute;
    left: 0px;
    top: -34px;
    background: linear-gradient(180.37deg, #C2D6D6 18.75%, rgba(255, 255, 255, 0) 78.52%);
  }

  span{
    position: relative;

    &::before{
      background: #000000;
      width: 30px;
    }
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -40px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -40px;
}

//! regions
/* regions */
.regions {
  min-height: 1215px;
  position: relative;
  padding-left: 190px;
  margin-top: -120px;

  &__container{
    position: relative;
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    background-repeat: no-repeat;
    max-width: 1111px;
    min-height: 1110px;

    &:before{
      content: '' ; 
      display: inline-block;
      width: 100%;
      height: 840px;
      left: 0px;
      top: 0px;
      background: #F6FBFD;
      position: absolute;
    }

    &:after{
      content: '' ; 
      display: inline-block;
      width: 936px;
      height: 665px;
      left: 0px;
      top: 0px;
      background-image: url(../images/map.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: 400px;
      transform: translate(-50%, 0);
    }
  }

  &__bg{
    position: absolute;
    overflow: hidden;
    width: 830px;
    height: 700px;
    bottom: 0;
    right: 0;

    &:before{
      content: '' ; 
      display: inline-block;
      width: 340px;
      height: 323px;
      position: absolute;
      right: 20px;
      bottom: 230px;
      background-image: url(../images/regions-bg-grey.svg);
      background-repeat: no-repeat;
      background-position: -40px, 0px;
    }

    &:after{
      content: '';
      display: inline-block;
      width: 718px;
      height: 709px;
      position: absolute;
      right: 0px;
      bottom: -390px;
      background-image: url(../images/regions-bg-green.svg);
      background-repeat: no-repeat;
      background-position: -100px, -64px;
      z-index: 2;

    }
  }

  &__swiper-next, &__swiper-prev{
    color: #000000;
  }

  &__swiper-pagination{
    bottom: auto;
    top: 85px;

  }

  &__button{
    display: inline-block;
    position: absolute;
    width: auto;
    bottom: 104px;
    right: 75px;
    z-index: 44;

  }

  &__title {
    left: -200px;
    top: 200px;
  }

  &__swiper {
    overflow: hidden;
    min-height: 1110px;
  }

  &__swiper-wrapper {
    position: relative;
    z-index: 11;
    min-height: inherit;
  }

  &__swiper-slide {
    margin-top: 195px;
    min-height: inherit;
  }
}


.slide-regions {
  position: relative;

  &_{
    .slide-regions__title{
      max-width: 580px;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    position: absolute;
    left: 0;
    top: -100%;
    transition: 0.8s;

    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    min-height: 96px;
  }

  &__percentage {
    position: absolute;
    top: 315px;
    left: -100%;
    opacity: 0;
    transition: 0.8s;

    max-width: 260px;
    font-weight: 400;
    font-size: 18.7026px;
    line-height: 21px;
    color: #444444;
    text-align: center;    

    strong{
      display: flex;
      font-weight: 400;
      font-size: 175px;
      color: #000000;
      line-height: 1;

      span{
        font-size: 75px;
        line-height: 1;
        font-weight: 300;
        align-self: flex-end;
      }
    }

    >span{
      font-weight: 400;
      font-size: 42px;
      line-height: 37px;
      color: #000000;
      display: block;
    }
  }

  &__respondents {
    max-width: 525px;
    display: flex;
    font-weight: 400;
    font-size: 18.7026px;
    line-height: 25px;
    color: #444444;

    position: absolute;
    opacity: 0;
    transition: 0.8s;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0%);

    ul{
      max-width: 260px;
      text-align: center;
      flex-shrink: 0;
      color: #000000;
      margin-right: 10px;
    }

    li{
      font-weight: 400;
      font-size: 35.0302px;
      line-height: 18px;
    }

    li{
      &:first-child{
        display: flex;
        font-weight: 400;
        font-size: 135px;
        line-height: 70%;
        letter-spacing: -0.02em;
        margin-bottom: 25px;

        span{
          font-size: 75px;
          line-height: 101%;
          align-self: flex-end;
          margin: 0 3px 0 5px;
        }
      }
    }
  }
}

.statistic {
  position: absolute;
  transition: 0.8s;
  opacity: 0;
  right: -100%;
  top: 290px;
  max-width: 400px;

		&__title {
      font-weight: 400;
      font-size: 25px;
      line-height: 23px;
      margin-bottom: 30px;
		}

		&__list {
      max-width: 405px;
      padding-right: 10px;

			&_four {
			}
		}

		&__item {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #444444;
      position: relative;
      padding-left: 14px;

      &:not(:first-child){
        margin-bottom: 6px;
      }

      span{
        color:#000000;
        font-weight: 400;
        font-size: 24px;
        line-height: 101%;
        letter-spacing: -0.02em;
        margin-right: 10px;
      }

      &:before{
        content: '' ; 
        display: inline-block;
        width: 100%;
        max-width: 217px;
        height: 20px;
        position: absolute;
        right: 405px;
        top: 0px;
        background: linear-gradient(90deg, #FF1CF6 0%, #FFC9B4 100%);
      }

			&_100 {
        &:before{
          width: 100%;
        }
			}

			&_80 {
        &:before{
          width: 170px;
        }
			}

      &_70 {
        &:before{
          width: 154px;
        }
			}

			&_60 {
        &:before{
          width: 122px;
        }
			}
		}
}

.person {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  bottom: -100%;
  left: 145px;

		&__inner {
      display: flex;
		}

		&__description {
      position: relative;
      max-width: 350px;
      align-self: flex-end;
      padding-bottom: 50px;
		}

		&__motto {
      font-weight: 400;
      font-size: 38px;
      line-height: 40px;
      letter-spacing: -0.02em;
      margin-bottom: 10px;
		}

		&__name {
      font-size: 20px;
      line-height: 101%;
      letter-spacing: -0.02em;
      font-weight: 500;
      margin-bottom: 10px;
		}

		&__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 101%;
      letter-spacing: -0.02em;
      max-width: 201px;
      margin-bottom: 20px;
		}

		&__images {
      position: relative;
      &:before{
        content: '' ; 
        display: inline-block;
        width: 163px;
        height: 1px;
        position: absolute;
        left: 64px;
        bottom: 200px;
        background: #000000;
      }

      &_first{
        position: absolute;
        left:0;
        top:0;
        width: 405px;
        height: 482px;
      }

      
      &_second{
        position: absolute;
        right:0;
        top:0;
        width: 466px;
        height: 488px;
      }
		}
}

.btn-green {
  color: #53CD9F;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: left;
  width: auto;

  img{
    padding-top: 4px;
    margin-left: 5px;
    align-self: center;
  }
}

// animation

.slide-regions_first{
  

  .slide-regions__title{
    padding-left: 145px;
  }

  position: relative;
    &:before{
    content: '' ; 
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(0.2);
    position: absolute;
    z-index: -1;
    top: 162px;
    left: 125px;
    background-image: url(../images/regions-bg-global.svg);
    background-repeat: no-repeat;
    transition: 0.8s;
  }
}

.slide-regions_second{
  .slide-regions__title{
    left: 50%;
    transform: translate(-50%, 0%);
    width: 895px;
    letter-spacing: 1px;
    text-align: center;
  }

  position: relative;
    &:before{
    content: '' ; 
    display: inline-block;
    width: 341px;
    height: 290px;
    transform: scale(0.2);
    position: absolute;
    z-index: -1;
    top: 192px;
    left: 125px;
    background-image: url(../images/north-America-fon.svg);
    background-repeat: no-repeat;
    transition: 0.8s;
  }

  .person__images:before {
    left: -20px;
  }

  .slide-regions__percentage{
    text-align: left;
    top: 115px;
  }

  .statistic{
    top: 150px;
  }
}

.slide-regions_third{
  .slide-regions__title{
    left: 50%;
    transform: translate(-50%, 0%);
    width: 895px;
    letter-spacing: 1px;
    text-align: center;
  }

  position: relative;
    &:before{
    content: '' ; 
    display: inline-block;
    width: 341px;
    height: 290px;
    transform: scale(0.2);
    position: absolute;
    z-index: -1;
    top: 192px;
    left: 125px;
    background-image: url(../images/north-America-fon.svg);
    background-repeat: no-repeat;
    transition: 0.8s;
  }


.percent-wrap {
  color: #000000;
  min-width: 521px;
  &__container{
    display: flex;
  }

  &__num {
    font-weight: 400;
    font-size: 175px;
    line-height: 135px;
  }

  &__description {
  
    max-width: 360px;
    span{
      display: block;
      &:first-child{
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 30px;
      }

      &:last-child{
        font-style: normal;
        font-weight: 400;
        font-size: 73px;
        line-height: 80px;
      }
    }
  }

  &__text{
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 270px;
    font-style: normal;
    font-weight: 400;
    font-size: 18.7026px;
    line-height: 21px;
    color: #444444;
  }
}


  //! Person

  .person{
    &__images{
      width: 640px;
      height: 482px;
      right: -40px;
      &:before {
        left: -20px;
      }
    }

    &__text{
      max-width: 160px;
    }

    &__description {
      position: relative;
      max-width: 285px;
      align-self: flex-end;
      padding-bottom: 50px;

      &_first{
        position: absolute;
        left: 180px;
        bottom: -45px;
      }

      &_second{
        
      }
    }
  }

  .slide-regions__percentage{
    text-align: left;
    top: 115px;
  }

  .statistic{
    top: 150px;
  }
}

.swiper-slide-active{
  &.slide-regions_first, &.slide-regions_second,&.slide-regions_third{
    &:before{
      transform: scale(1);
    }
  }

  &.slide-regions_first{
    .slide-regions__percentage {
      left: 116px;
      opacity: 1;
    }

    .slide-regions__respondents{
      top: 110px;
      opacity: 1;
    }

    .statistic{
      right: 15px;
      opacity: 1;
    }

    .person{
      bottom: 0px;
      opacity: 1;
    }
  }

  &.slide-regions_second{
    .slide-regions__percentage {
      left: 135px;
      opacity: 1;
    }

    .slide-regions__respondents{
      top: 110px;
      opacity: 1;
    }

    .statistic{
      right: 15px;
      opacity: 1;
    }

    .person{
      bottom: 0px;
      opacity: 1;
    }

    .slide-regions__respondents {
      top: 460px;
      left: 57%;
    }
  }

  &.slide-regions_third{
    .slide-regions__percentage {
      left: 116px;
      opacity: 1;
    }

    .slide-regions__respondents{
      top: 110px;
      opacity: 1;
    }

    .statistic{
      right: 15px;
      opacity: 1;
    }

    .person{
      bottom: 0px;
      left: 116px;
      opacity: 1;
    }

    .slide-regions__respondents {
      top: 460px;
      left: 57%;
    }
  }

  .slide-regions__title{
    top: 0px;
  }
}


































 





/* header */
@media (max-width: 360px){
  body #header .middle-h-row td.logo_wrapp {
      display: block;
      width: 100%;
      left: calc(50% - 120px);
  }
}

@media (max-width: 360px){
  #header .middle-h-row .logo_wrapp .logo {
      max-width: 220px;
      margin: 0 auto;
      padding-right: 0;
      
  }
}

@media (max-width: 360px){
  body #header .middle-h-row .basket_wrapp {
      width: 100%;
      display: block;
  }
}

@media (max-width: 360px){
  .wrapper.basket_normal.head_type_2 #header .middle-h-row .basket_wrapp .header-cart-block {
      margin: -20px auto 0;
      width: 100%;
      right: 50%;
    transform: translate(-50%, 0%);
    
  position: relative;
  &:before{
  content: '' ; 
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  }
  }
}

.catalog-detail__bottom-info li:before, .catalog-detail__previewtext li:before {
  content: '' ; 
  display: inline-block;
position: absolute;
left: 0px;
top: 0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
  background: #365EDC !important;

  transform: translate(50%, 50%);
  
}


















/* 31. 01. 2023 */
.specials_slider_wrapp {
  margin-top: 30px;
}

.wrapper-home-page .front_slider_wrapp .flex-viewport{
    width: 100%;
    margin-bottom: -70px;
    margin-top: 20px;
}

.wrapper-home-page .front_slider .image-home img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.wrapper-home-page .front_slider .image-home {
  vertical-align: baseline;
  width: 26%;
  padding-left: 30px;
}

.wrapper-home-page .front_slider_wrapp .extended_pagination {
      margin-bottom: 25px;
    margin-top: 15px;
    width: auto;
max-width: 300px;
}

.wrapper-home-page .front_slider_wrapp .extended_pagination > li.active i {

    border-bottom-width: 46px !important;
  border-top-width: 46px !important;
}




.wrapper-home-page .front_slider .info img {
  margin-right: 10px;
}

.wrapper-home-page .front_slider .price {
  font-size: 32px;
  line-height: 34px;

}

.wrapper-home-page .index_bottom .info_column .about_column, .index_bottom .info_column .news_column {
  width: 100%;
}

.wrapper-home-page .b24-form-padding-side {
  padding: 14px 0px;
}

.wrapper-home-page .b24-form-border-bottom {
  margin-left: 0px;
}

.wrapper-home-page .b24-form-wrapper {
  max-width: 100%;
}

@media (max-width: 991px) {
  .wrapper-home-page .image-home{
     min-width: 300px;
  }
}

@media (max-width: 768px) {
	.wrapper-home-page .image-home, .wrapper-home-page .info{
   display: block;
    text-align: center;
    width: auto;
	}
}

@media (max-width: 768px) {
.wrapper-home-page .info{
   margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.wrapper-home-page .front_slider .image-home {
	 margin: 0 auto;
  padding-left: 0;
	}
}

@media (max-width: 768px) {
	.wrapper-home-page .front_slider_wrapp .flex-viewport {
	  margin-bottom: 0px;
	}
}

@media (max-width: 600px){
	.wrapper.basket_normal.head_type_2 #header .middle-h-row .basket_wrapp .header-cart-block {
	  min-width: 96px;
	}
}

@media (max-width: 600px){
	#header .middle-h-row .logo_wrapp .logo {
	  min-width: 140px;
	}
}


/* header */

